
.word-container {
    position:relative;
    left: 1.5%;
    line-height: 4.31918008784773vw;
}
.word-1 {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 10%;
    font-size: 4.24597364568082vw;
    color: white;
    perspective: 1000px; 
    margin: 0% 0% 0% 12%;
}
.word-2 {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 4.24597364568082vw;
    color: white;
    perspective: 1000px;
    margin: 0% 0% 0% 12%; 
}
.word-3 {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 4.24597364568082vw;
    color: white;
    perspective: 1000px; 
    margin: 0% 0% 0% 12%;
}



span {
    font-family: 'Poppins';
    user-select: none;
}
span:hover {
    animation: shrinkjump 0.7s ease-in-out;
    color: cyan;
}
@keyframes shrinkjump {
    0% {
        transform: scale(1) translate(0, 0);
    }
	40% {
		transform: scale(1.2, 0.7) translate(0, 0);
    }
    60% {
        transform: scale(1) translate(0, 0);
    }
    70% {
        transform: scale(1.1, 0.8) translate(0, 0);
    }
    80% {
        transform: scale(1) translate(0, 0);
    }
    90% {
        transform: scale(1.07, 0.9) translate(0, 0);
    }
   
	100% {
		transform: scale(1) translate(0, 0);
	}
}

 h4 {
     position: absolute;
     top: 97%;
    color: rgb(126, 126, 126);
    font-family: 'Helvetica';
    font-weight: 600;
    margin: 0% 0% 0% 42%;
    letter-spacing: 0.29282576866764276vw;
    user-select: none;
}
#html-code {
    position: relative;
    width: 20%;
    left: 3%;
    cursor: context-menu;
}
#html-code1 h3 {
    color: rgb(75, 75, 75);
    font-family: 'La Belle Aurore', cursive;
    font-weight: 100;
    user-select: none;
    font-size:  1.3177159590043923vw;
}
#html-code h3:nth-child(3) {
    cursor: pointer;
    margin: 0% 0% 0% 10%;
    animation: glow 2s ease infinite;
}
#html-code h3:nth-child(5) {
    margin: 0% 0% 0% 10%;
}
#html-code h3:nth-child(6) {
    margin: 0% 0% 0% 20%;
}

#html-code1 h3:nth-child(1) {
    margin: 0% 0% 0% 20%;
}
#html-code1 h3:nth-child(2) {
    margin: 0% 0% 0% 10%;
}
#html-code1 {
    position: relative;
    width: 20%;
    left: 3%;
    font-size:  1.3177159590043923vw;
}
#html-code h3 {
    color: rgb(75, 75, 75);
    font-family: 'La Belle Aurore', cursive;
    font-weight: 100;
    line-height: 190%;
    font-size:  1.3177159590043923vw;
}
.fullstack {
    font-size: 1.171303074670571vw;
}
@keyframes project-page {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(40px);
    }
    20% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(-1500px);
    }
}


@keyframes glow {
    0% {
        color: rgb(126, 126, 126);
    }
    50% {
        color: rgb(170, 170, 170);
    }
    100%{
        color: rgb(126, 126, 126);
    }
}