*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    outline: none;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 14, 14);
}
.container {
    position: relative;
    margin-top: 6%;
    height: 100%;
    width: 30%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: white;
    border-radius: 5px;
}
.input-box {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}
input {
   margin-bottom: 15px;
    height: 35px;
    width: 100%;
    padding: 10px;
    background: rgb(14, 14, 14);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 3px;
    color: white;
    transition: 0.3s ease;
}
input:focus {
    width: 101%;
    border: 1px solid rgb(78, 78, 78);
}
label {
    font-size: 12px;
}
button {
    cursor: pointer;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    border-radius: 2px;
    color: white;
    background: rgb(0, 100, 139);
    transition: 0.3s ease;
}
button:hover {
    background: rgb(0, 80, 112);
}
.error-box {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: red;
    list-style: none;
    text-align: center;
}
.img1 {
    position: absolute;
    top: 10%;
    right: 2%;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
} 
.img2 {
    position: absolute;
    top: 35%;
    right: 2%;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
}
.img3 {
    position: absolute;
    top: 60%;
    right: 2%;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
}
.img4 {
    position: absolute;
    top: 86%;
    right: 2%;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
} 
.tool {
    position: absolute;
    right: 7%;
    top: 33%;
    height: 44%;
    width: 30%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.tool1 {
    opacity: 0;
}
.tool2 {
    opacity: 0;
}
.tool3 {
    opacity: 0;
}
.tool4 {
    opacity: 0;
}
.tool1 img {
    width: 60%;
}
h6 {
    position: absolute;
    left: 20px;   
    font-weight: 100;
    font-size: 11px;
    color: rgb(80, 80, 80);
}

.tool2 img {
    width: 60%;
}
.tool3 img {
    width: 60%;
}
.tool4 img {
    width: 60%;
}

@keyframes animation {
    0% {
        border: 1px solid red;
    
    }
    25%{
        border: 1px solid rgb(36, 36, 36);
       
    }
    50% {
        border: 1px solid red;
        
    }
    75% {
        border: 1px solid rgb(36, 36, 36);
       
    }
    100% {
        border: 1px solid red;
    }
}

@keyframes tooltip {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}